.avertissement,
.miseEnGard {
  background-color: rgba(29, 247, 29, 0.13);
  border-radius: 15px;
  color: green;
  font-weight: 500;
  width: fit-content;
}
.exclusion {
  background-color: rgba(247, 29, 29, 0.13);
  border-radius: 15px;
  color: red;
  font-weight: 500;
  width: fit-content;
}
.blame {
  background-color: rgba(255, 166, 0, 0.13);
  border-radius: 15px;
  color: orange;
  font-weight: 500;
  width: fit-content;
}
