.filieres-adjst {
    width: 90%;
    margin-left: 10%;
}

.filiere-classes {
    text-align: left;
}

.filiere-classes li {
    display: inline-block;
    margin: 0.5rem 0.5rem;
}

.rotated::after {
    transform: rotate(180deg);
  }

  .sidebar-nav ul .sidebar-item.selected>.sidebar-link, .sidebar-nav ul .sidebar-item.selected>.sidebar-link.active, .sidebar-nav ul .sidebar-item>.sidebar-link.active {
    background-color:  #143AA2;
    border: 0;
}

.sidebar-nav ul .sidebar-item .sidebar-link:hover {
    background-color:#E5EAEF;
    color: #000;
    border: 0;
}